@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white text-[15px];
}

/*
    genislik = 1265px
    sol sidebar = 275px
    sag sidebar = 350px
    content alani = auto
 */
